@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 60px;
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.hamburguer {
    display: none;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    z-index: 1001;
    position: absolute;
    top: 23px;
    right: 70px;
    box-sizing: border-box;
}

.tituloElogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav__titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav__logo {
    max-width: 50px;
}

.titulo {
    font-size: 1.2em;
    font-weight: bold;
}

.instagram-icon i {
    font-size: 1.3em;
    color: #ffffff;
}

.hero {
    background-image: url('../img/fundo/img fundo h.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000;
    padding: 80px 20px;
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content {
    background-color: rgba(255, 255, 255, 0.8); /* fundo branco translúcido */
    padding: 20px;
    border-radius: 10px;
}

.hero .btn {
    background-color: #ff4002;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.services,
.about,
.contact {
    padding: 20px 15px;
    text-align: center;
}

.about {
    padding: 40px 15px;
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: left; 
}

.about h2 {
    font-size: 2.5em; 
    color: #ff4002; 
    margin-bottom: 20px; 
}

.sobre-texto {
    line-height: 1.6; 
    margin-bottom: 20px; 
    color: #333; 
}

.sobre-missao-visao-valores h3 {
    font-size: 1.8em; 
    color: #000; 
    margin-top: 20px; 
}

.sobre-missao-visao-valores p {
    margin-bottom: 15px; 
}


.services-list {
    display: block;
}

.service-item {
    background-color: #ff8502;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact form input,
.contact form textarea {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.contact form .btn {
    background-color: #ff4002;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-left: -15px;
    margin-right: -15px;
}

.produtos {
    padding: 50px 15px;
    background-color: #f4f4f4;
    text-align: center;
}

.produtos h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Kumbh Sans', sans-serif;
    color: #000000;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.service-item {
    background-color: #ff4002;
    color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.service-item i {
    font-size: 2em;
    margin-bottom: 10px;
    display: block;
}

.service-item span {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.service-item:hover {
    transform: translateY(-10px);
    background-color: #ff8502;
}

.form-orcamento {
    margin-top: 30px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: left;
}

.form-orcamento p {
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.form-orcamento label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #333;
}

.form-orcamento input,
.form-orcamento select,
.form-orcamento textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    resize: none;
}

.form-orcamento button {
    background-color: #ff4002;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-orcamento button:hover {
    background-color: #ff8502;
}


.highlight-title {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
}

.highlight-subtitle {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 1em;
    margin: 0;
    color: white;
}

.grid-empresa {
    display: block;
    text-align: center;
}

#logo-empresa {
    justify-content: center;
    align-content: center;
    background-color: #000000;
    padding: 20px;
}

.info-boxes {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.info-box {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 1.2;
    white-space: nowrap;
}

.hover-botao:hover {
    background-color: rgba(34, 34, 34, 0.685);
    cursor: pointer;
}

.produtos {
    padding: 15px;
    margin-top: -10px;
}

.representacao {
    text-align: center;
    padding: 40px 20px;
}

.representacao p {
    font-size: 1.2em;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

/* Mobile First */
@media (max-width: 768px) {
    .hamburguer {
        display: block;
    }

    .menu ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 230px;
        background-color: #000;
        padding: 20px;
        width: 100%;
        margin: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        transition: max-height 0.3s ease-out, opacity 0.3s ease;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        list-style-type: none;
        padding-left: 0;
    }

    .menu.open ul {
        display: block;
        max-height: 300px;
        opacity: 1;
    }

    .menu a {
        text-decoration: none;
        color: #ffffff;
        display: block;
        padding: 10px 15px;
        transition: background-color 0.3s ease;
    }

    .menu a:hover,
    .menu a:focus {
        background-color: #ff4002;
        color: #ffffff;
    }

    .menu li {
        border-bottom: 1px solid #333;
    }

    .menu li:last-child {
        border-bottom: none;
    }
}

/* Media Queries para telas maiores */
@media (min-width: 600px) {
    .nav__logo {
        max-width: 65px;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .hero {
        font-size: 30px;
    }

    .services-list {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .service-item {
        flex: 1 1 200px;
        max-width: 250px;
    }

    .grid-empresa {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 20px;
    }

    .info-boxes {
        top: 90px;
        left: 0;
        flex-direction: row;
        gap: 15px;
    }
}

@media (min-width: 1024px) {
    .hero {
        padding: 100px 20px;
        font-size: 36px;
    }

    .grid-empresa {
        margin-left: 250px;
        height: 300px;
    }
}

