@media only screen and (min-width: 780px) and (max-width: 1279px){

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    max-width: 1700px;
    margin: 0 auto;
    
}

.nav__titulo .brasao,
.nav__titulo .titulo {
    display: inline-block;
    vertical-align: middle; /* Alinha verticalmente os elementos no centro */
}

.brasao {
    max-width: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-top: 0;
    margin-right: -2%;
}

nav .titulo {
    font-size: 1.5em;
    font-weight: bold; 
      
}



nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
}

.hero {
    color: #000000;
    padding: 100px 20px;
    text-align: center;
    font-size: 36px;
}

.hero .btn {
    background-color: #ff4002;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.services, .about, .contact {
    padding: 50px 20px;
    text-align: center;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.service-item {
    background-color: #ff8502;
    color: #ffffff;
    padding: 20px;
    flex: 1 1 200px;
    max-width: 300px;
    box-sizing: border-box;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact form input, .contact form textarea {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.contact form .btn {
    background-color: #ff4002;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

.hero {
    font-family: 'Montserrat', sans-serif; 

}
.highlight {
    font-family: 'Kanit', sans-serif; 
}



